body {
	font-family: Arial, sans-serif;
	font-size: 84%;

	background-color: white;
	color: black;
	margin: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

	display: block;

	-webkit-user-select: none;
	cursor: default;
}

#box {
	bottom: 0px;
	display: -webkit-box;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#navBar {
	-webkit-border-end: 1px solid #C6C9CE;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(234, 238, 243, 0)), to(#EAEEF3)), -webkit-gradient(linear, 0% 0%, 100% 0%, from(#EAEEF3), color-stop(0.97, #EAEEF3), to(#D3D7DB));
	bottom: 0px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 250px;
	z-index: 2;
}

#main {
	-webkit-box-align: stretch;
	-webkit-padding-start: 251px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

.mainview {
	padding: 0px 24px;
	width: 550px;
	display: none;
}

.mainview-sel {
	padding: 0px 24px;
	width: 550px;
	display: block;
}

hr {
	border-style: inset;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	display: block;
	margin: 0.5em auto;
	margin-top: 0.5em;
	margin-right: auto;
	margin-bottom: 0.5em;
	margin-left: auto;
}

#navBar > hr {
	-webkit-margin-start: 35%;
	background-color: #DBDBDB;
	border: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: initial;
	border-color: initial;
	height: 1px;
	width: 65%;
}

ul, menu, dir {
	-webkit-padding-start: 40px;
	display: block;
	list-style-type: disc;
	margin: 1em 0px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}

#navBar > ul {
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.navTag {
	-webkit-padding-end: 24px;
	color: #426DC9;
	display: block;
	outline: none;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	padding: 7px 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
	text-align: end;
	cursor: pointer;
}

.navTagSel {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#EAEEF3), color-stop(0.95, #B4C8EA), to(#9BACC5));
	color: black;
	font-weight: bold;
}

h1 {
	display: block;
	font-weight: bold;
	-webkit-padding-end: 24px;
	-webkit-padding-start: 0px;
	border-bottom: 1px solid #EEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	color: #54637F;
	font-size: 125%;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: start;
}

#navBar > h1 {
	display: block;
	-webkit-padding-end: 24px;
	color: #53627D;
	font-size: 125%;
	font-weight: normal;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 34px;
	padding-top: 16px;
	text-align: end;
}

section > h3 {
	-webkit-padding-start: 0px;
	font-size: 100%;
	font-weight: bold;
	margin: 0px;
	padding-top: 2px;
	vertical-align: middle;
	width: 150px;
}

#frontLayer {
	display:none;
	position: fixed;
	z-index: 3;
	height:auto;
	padding:20px;
	top:20%;
	left:25%;
	right:25%;
	border:2px solid #a2d2d2;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(234, 238, 243, 0)), to(#EAEEF3)), -webkit-gradient(linear, 0% 0%, 100% 0%, from(#EAEEF3), color-stop(0.97, #EAEEF3), to(#D3D7DB));
}

#backLayer {
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height:100%;
	background:#000;
	filter:alpha(opacity=70);
	opacity:0.7;
	display: none;
}

.input-text {
	width: 100%;
}

caption {
	padding: 0 0 5px 0;        
	font: bold 15px Arial, sans-serif;   
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}

th,td {  
	text-align: left;  
	padding: .5em;  
	border: 1px solid #fff;  
}  

th {  
	background: #aaaaaa url(tr_back.gif) repeat-x;  
	color: #fff;  
}  

td {  
	background: #e5f1f4;  
}

.sel-td {
	background: #e5e5f4 !important;
}
